# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.autosafe
*.autosave
*.pro.user
Makefile
RibiClassesTest
*.gcda
*.gcno
temp.txt
*.gcov
tmp*
ui_*
RibiClassesTestConsole
*.tar.gz
oclint-0.10.3/
oclint.log
qrc_*
moc_*
RibiClassesTestDesktop
create_one_edge_with_head_command.dot
QtQuadBezierArrowItemTest1.png
QtConceptMapTest
